<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask image get</title>
</head>
<body>    
    <br>
    <h1 align="center">Neural Sytle Transfer</h1>
    <br>

        <h2 align="center">Target Image</h2>
        <img src="{{url_for('static', filename = img_path)}}" style="float: left; width:200px; height:200px;">
        <div align="center" id='view_area'></div>
        <br>
    <br><br><br>
 
</body>
</html>